<article>
    <!--            todo : ng-if conf sur tte la partie-->

    <h2 class="backgroundBlueTitle">
        <i18n>calendar.event.reminders</i18n>
    </h2>
    <div class="toggle">
        <div class="content">

            <!--Reminder types-->
            <label class="twelve cell">
                <i18n>calendar.event.reminder.type</i18n>
            </label>

            <label class="checkbox" ng-if="vm.hasEmailOrZimbra()">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderType.email">
                <span><i18n><span>calendar.email</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderType.timeline">
                <span><i18n><span>calendar.timeline</span></i18n></span>
            </label>

            <!--Reminder frequency-->
            <label class="twelve cell">
                <i18n>calendar.event.reminder.frequency</i18n>
            </label>

            <label class="checkbox">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderFrequency.hour" ng-click="vm.changeSelection('hour')">
                <span><i18n><span>[[vm.getTranslate("calendar.event.reminder.hour", [1])]]</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderFrequency.day" ng-click="vm.changeSelection('day')">
                <span><i18n><span>[[vm.getTranslate("calendar.event.reminder.day", [1])]]</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderFrequency.week" ng-click="vm.changeSelection('week')">
                <span><i18n><span>[[vm.getTranslate("calendar.event.reminder.week", [1])]]</span></i18n></span>
            </label>
            <label class="checkbox">
                <input type="checkbox" ng-model="vm.calendarEvent.reminderFrequency.month" ng-click="vm.changeSelection('month')">
                <span><i18n><span>[[vm.getTranslate("calendar.event.reminder.month", [1])]]</span></i18n></span>
            </label>

        </div>
    </div>
</article>