.DS_Store
.gradle
.idea
.classpath
.project
.settings
.yardoc
.yardopts
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
mods
*/mods
data

**/ts/entcore
**/ts/**/*.js
**/ts/*.js
**/ts/**/*.js.map
**/ts/*.js.map
**/template/entcore
**/temp
**/dist
**/.DS_Store
**/rev-manifest.json
**/view/*.html
**/js/*
**/view/*
node_modules
npm-debug.log
gradlew*
gradle/
/coverage/
/package-lock.json
/src/main/resources/public/css/
/yarn.lock
