<!--Widget Agenda-->
<div class="widget agenda">
	<h1>
		<i18n>agenda-widget.widget.title</i18n>
	</h1>

	<div class="widget-body">
		<div class="widget-empty-message" ng-if="widget.userEvents === undefined || widget.userEvents.length === 0">
			<p>
				<i18n>agenda-widget.widget.empty</i18n>
			</p>
		</div>

		<ul class="day-list" ng-if="widget.userEvents !== undefined && widget.userEvents.length >= 0">
			<li class="day-item" ng-repeat="group in widget.dayGroups">
				<div class="day-item-title">
					[[group]]
				</div>
				<ul class="moment-list">
					<li class="moment-item" ng-repeat="event in widget.userEvents | filter:{displayedGroup: group}">
						<span class="icon"><i class="calendar"></i></span>
						<span class="hour" ng-if="!event.allday">[[event.displayedDate]]</span>
						<span class="link"><a href="/calendar">[[event.title]]</a></span>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>