.dropdown-menu {
	z-index: 11000 !important;
}

.color-selector .grey, .row .grey, nav.vertical ul li a {
    overflow:hidden;
}

.backgroundOrangeTitle {
    background: #ff8500;
    color: #fff;
}

.color-selector .green, .row .green, nav.vertical ul li a.green {
    background-color: #28c7a9 !important;
}
.color-selector .purple, .row .purple, nav.vertical ul li a.purple {
    background-color: #ab6fc9 !important;
}
.color-selector .orange, .row .orange, nav.vertical ul li a.orange {
    background-color: #f4ce01 !important;
}
.color-selector .pink, .row .pink, nav.vertical ul li a.pink {
    background-color: #ec6045 !important;
}
.color-selector .cyan, .row .cyan , nav.vertical ul li a.cyan{
    background-color: #23a3db !important;
}
.color-selector .grey, .row .grey, nav.vertical ul li a.grey {
    background-color: #b7b8ba !important;
}

.color-selector .yellow, .row .yellow, nav.vertical ul li a.yellow {
    background-color: #ecbe30 !important;
}

.color-selector .color {
    border:1px #CCCCCC solid;
    width:30px;
    height:30px;
    display:inline-block;
    margin-left:5px;
}

.color-selector .color.selected {
    border:2px black solid;
}


.patchwork .navigation .items > .row {
    height:auto !important;
}

.patchwork .navigation .items > .row h1 {
    color:black !important;
    font-weight: normal !important;
}

.patchwork .navigation .items > .row .buttons {
    z-index:1000 !important;
}

.lightbox-background {
    z-index:9000 !important;
}

.colored li a {
    opacity:0.4;
    color:black;
}

.colored li a.selected {
    opacity:1;
}

nav.vertical ul li a input.calendar-checkbox {
  float:right;
}

.filters div.dates {
    position: absolute;
    right: 0px;
    top: 4px;
}

.filters div.dates div.cell {
    margin-right: 20px;
    line-height: 40px;
    vertical-align: middle;
}

.toggle-buttons{
    z-index:1000 !important;
}

.remove-calendar-event .lightbox-background {
    z-index:12000 !important;
}

.remove-calendar-event .lightbox-view {
    z-index:12001 !important;
}

button#special {
    color: inherit;
    padding: inherit;
    background: inherit;
    cursor: pointer;
    padding: 0;
    -webkit-margin-end: 0px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 30px;
    display: block;
    width: 103%;
    font-family: Roboto;
    font-size: 20px;
    margin-left: -10px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-top: 3px;
    padding-left: 10px;

}

button.noTransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

