<div class="sidebar top-spacing-four right-spacing">
    <article class="no-padding">
        <div ng-if="!vm.isEmpty()">
            <!-- Display mode -->
            <div class="row sidebar-title right-spacing">
                <h4 class="sidebar-title-calendar-display large cell twelve"><i18n>calendar.display.mode</i18n></h4>
            </div>

            <section class="cell twelve bottom-spacing top-spacing bg-white">
                <label class="cell twelve sidebar-calendar-choice-view flex-row">
                    <!-- switch calendar mode -->
                    <div class="six flex-row right-spacing-small left-spacing-four top-spacing bottom-spacing file-selector
                    sidebar-calendar-choice-view-item" ng-click="vm.onShowCalendar()"
                         ng-class="{selected: !vm.list}">
                        <div ng-include="'/calendar/public/img/calendaire.svg'"
                             class="show-calendar">
                        </div>
                        <i18n class="left-spacing-small top-spacing-small bottom-spacing">calendar.calendar.view</i18n>
                    </div>

                    <!-- switch list mode -->
                    <div class="six flex-row right-spacing-small left-spacing-four top-spacing bottom-spacing file-selector
                    sidebar-calendar-choice-view-item"
                         ng-click="vm.onShowList()" ng-class="{selected: vm.list}">
                        <div ng-include="'/calendar/public/img/liste.svg'"
                             class="show-list">
                        </div>
                        <i18n class="left-spacing-small top-spacing-small bottom-spacing">calendar.list.view</i18n>
                    </div>
                </label>
            </section>


            <!-- List of calendars -->
            <div class="row sidebar-title right-spacing">
                <h4 class="large cell twelve sidebar-title-calendar-display"><i18n>calendar.my.calendars</i18n></h4>
            </div>

            <section class="block-container">
                <nav class="vertical">
                    <ul>
                        <!-- My calendars -->
                        <li>
                            <a class="selected"><i18n>calendar.my.calendars</i18n></a>
                            <ul class="colored">
                                <li ng-repeat="cl in vm.calendars.all | filter:vm.isMyCalendar | orderBy: '+title'">
                                    <a class="[[cl.color]]" ng-class="{'selected': cl.selected, 'notselected': !cl.selected}"
                                       ng-click="vm.onOpenOrCloseCalendar(cl, true)">
                                        <span>[[cl.title]]</span>
                                        <input type="checkbox" class="calendar-checkbox" ng-click="$event.stopPropagation();"
                                               ng-model="cl.showButtons" ng-change="vm.hideOtherCalendarCheckboxes(cl)"/>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Shared calendars -->
                        <li>
                            <a class="selected"><i18n>calendar.shared.calendars</i18n></a>
                            <ul ng-if="vm.hasSharedCalendars()" class="colored">
                                <li ng-repeat="cl in vm.calendars.all | filter:vm.isCalendarSharedWithMe | orderBy: '+title'">
                                    <a class="[[cl.color]]" ng-class="{'selected': cl.selected, 'notselected': !cl.selected}"
                                       ng-click="vm.onOpenOrCloseCalendar(cl, true)">
                                        <span>[[cl.title]]</span>
                                        <input ng-if="cl.myRights.manage" type="checkbox" class="calendar-checkbox"
                                               ng-click="$event.stopPropagationCallback();" ng-model="cl.showButtons"
                                               ng-change="vm.hideOtherCalendarCheckboxes(cl)"/>
                                    </a>
                                </li>
                            </ul>
                            <ul ng-if="!vm.hasSharedCalendars()"><li><i18n>calendar.calendars.empty</i18n></li></ul>
                        </li>
                    </ul>
                </nav>
            </section>

        </div>
    </article>
</div>