i {
  &.attachment::before {
    content: "\e805";
    font-family: 'generic-icons';
  }

  &.cross::before {
    content: "\e866";
    font-family: 'generic-icons';
  }

  &.sync::before {
    font-family: 'calendar-material-icons';
    content: "\F04E6";
  }

}