.sidebar {

  &-title {
    background-color: $calendar-blue;

    &-calendar-display {
      text-transform: uppercase;
      font-weight: normal;
      color: $calendar-white;
    }
  }

  &-calendar-choice-view {
    display: inline-flex;
    align-items: center;

    &-item {
      opacity: 0.2;
      &.selected {
        opacity: 1;
      }
    }
  }
}






