<div class="items">
	<div class="row" ng-repeat="cl in calendars.all" ng-class="{ selected: cl.selected }">
		<article class="[[cl.color]]">
				
			<h1 ng-click="openOrCloseCalendar(cl)">
				[[cl.title]]
				<span ng-if="cl.shared">
					- (Partagé)
				</span>
			</h1>
			<div class="bottom-locked">
				<behaviour name="manage" resource="cl">
					<input type="checkbox" ng-model="cl.showButtons" ng-change="hideOtherCalendarCheckboxes(cl)"/>
				</behaviour>
			</div>
			<div class="small-hidden buttons" ng-class="{ hidden: !cl.showButtons }">
				<behaviour name="manage" resource="cl">
					<button ng-click="displayImportIcsPanel()"><i18n>import</i18n></button>
					<button ng-click="editCalendar(cl, $event)"><i18n>edit</i18n></button>
					<button ng-click="confirmRemoveCalendar(cl, $event)"><i18n>remove</i18n></button>
					<button ng-click="shareCalendar(cl, $event)"><i18n>share</i18n></button>
				</behaviour>
			</div>
		</article>
	</div>
</div>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'calendar'" resources="calendar"></share-panel>
	</lightbox>
</div>

<!-- Lightbox : Import ICS -->
<div ng-if="display.showImportPanel">
	<lightbox show="display.showImportPanel" on-close="display.showImportPanel = false;">
		<label><i18n>calendar.ics.file.to.import</i18n></label>
		<input type="file" id="icsFile" />
		<button class="right-magnet" ng-click="importIcsFile()"><i18n>import</i18n></button>
	</lightbox>
</div>

<div ng-if="display.confirmDeleteCalendar">
	<lightbox show="display.confirmDeleteCalendar" on-close="cancelRemoveCalendar()">
		<div class="row">
			<i18n>calendar.confirm.delete.calendar</i18n>
		</div>
		
		<div class="row">
			<button class="right-magnet" ng-click="removeCalendar()"><i18n>remove</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveCalendar()" />
		</div>
	</lightbox>
</div>
