<div class="row editEvent">
    <h2>
        <i18n ng-if="!calendarEvent._id">calendar.new.event</i18n>
        <i18n ng-if="calendarEvent._id  && !calendarEvent.editAllRecurrence">calendar.edit.event</i18n>
        <i18n ng-if="calendarEvent._id  && calendarEvent.editAllRecurrence">calendar.edit.recurrence</i18n>
    </h2>

    <section class="twelve cell">
        <form name="editEvent" id="event-form">
            <div class="row">

                <!-- Event details -->
                <article>
                    <h2 class="backgroundBlueTitle">
                        <i18n>calendar.event.header.details</i18n>
                    </h2>
                    <div class="toggle">
                        <div class="content">

                            <!--Event owner-->
                            <div class="row" ng-if="calendarEvent._id">
                                <div class="twelve cell form-element">
                                    <label>
                                        <i18n>calendar.event.owner</i18n>
                                    </label><span> [[calendarEvent.owner.displayName]]</span>
                                </div>
                            </div>

                            <!--Event title-->
                            <label class="twelve cell">
                                <i18n>calendar.event.title</i18n>
                            </label>
                            <input name="titleInput" class="twelve cell" required ng-model="calendarEvent.title"
                                   type="text"/>

                            <!--Description-->
                            <label class="twelve cell">
                                <i18n>calendar.event.description</i18n>
                            </label>
                            <textarea class="twelve cell" ng-model="calendarEvent.description"></textarea>

                            <!--Attachments-->
                            <div class="twelve cell editEvent-attachments content-line">
                                <!--Attachment button-->
                                <div class="twelve cell editEvent-attachments-buttonSection">
                                    <button class="editEvent-attachments-buttonSection-button left-magnet" ng-click="openAttachmentLightbox()">
                                        <i class="attachment"></i>
                                        <i18n>calendar.event.add</i18n> <i18n>calendar.event.attachments</i18n>
                                    </button>
                                </div>
                                <!--List of attachment files-->
                                <div class="editEvent-attachments-fileSection row">
                                    <div ng-repeat="attachment in calendarEvent.attachments track by $index"
                                          class="right-spacing three cell bottom-spacing editEvent-attachments-fileSection-list">
                                        <div class="editEvent-attachments-fileSection-list-item ">
                                            <div ng-click="downloadAttachment(calendarEvent, attachment)"
                                               class="editEvent-attachments-fileSection-list-item-title">
                                                [[attachment.metadata.filename]]
                                            </div>
                                            <i class="cross top-spacing horizontal-margin-small
                                            editEvent-attachments-fileSection-list-item-cross"
                                            ng-click="removeDocumentFromAttachments(attachment._id)"></i>
                                            <span class="tooltip-title left-spacing-small">[[attachment.metadata.filename]]</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Location-->
                            <label class="twelve cell">
                                <i18n>calendar.event.location</i18n>
                            </label>
                            <input class="twelve cell" ng-model="calendarEvent.location" type="text"/>

                            <!--Calendars-->
                            <div class="row">
                                <label>
                                    <i18n>calendar.event.calendar</i18n>
                                </label>
                                <span ng-if="calendarEvent._id" ng-repeat="calendar in calendarEvent.calendar">
                                [[calendar.title]][[$last ? '' : ', ']]</span>
                                <multi-combo ng-if="!calendarEvent._id"
                                             class="twelve cell multi-combo"
                                             title="[[ lang.translate('calendar.event.edit.select.one') ]]"
                                             ng-click="changeCalendarEventCalendar()"
                                             combo-model="calendarAsContribRight"
                                             search-on="title"
                                             order-by="title"
                                             filtered-model="selectedCalendarInEvent"
                                />
                                <div class="select-blocks" ng-if="!calendarEvent._id">
                                    <div ng-repeat="calendar in selectedCalendarInEvent"
                                    ng-click="dropCalendar(calendar)">
                                        [[calendar]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- Event Dates -->
                <article>
                    <h2 class="backgroundBlueTitle">
                        <i18n>calendar.event.header.dates</i18n>
                    </h2>
                    <div class="toggle">
                        <div class="content">

                            <div class="row">
                                <!--event start date-->
                                <div class="three cell">
                                    <label class="twelve cell form-label">
                                        <i18n>calendar.event.start.date</i18n>
                                    </label>
                                    <date-picker ng-model="calendarEvent.startMoment"
                                                 ng-change="changeStartMoment()" class="nine cell"></date-picker>
                                </div>
                                <!--event end date-->
                                <div class="three cell">
                                    <label class="twelve cell form-label">
                                        <i18n>calendar.event.end.date</i18n>
                                    </label>
                                    <date-picker ng-model="calendarEvent.endMoment"
                                                 ng-change="changeEndMoment()" class="nine cell"></date-picker>
                                </div>
                                <!--event start hour-->
                                <div class="three cell" ng-if="!calendarEvent.allday">
                                    <label class="twelve cell form-label">
                                        <i18n>calendar.event.start.time</i18n>
                                    </label>
                                    <input format-input-time type="time" id="time-picker-start-moment"
                                           class="input-small cell"
                                           placeholder="HH:mm" ng-model="calendarEvent.startTime"
                                           start-time="calendarEvent.startTime" end-time="calendarEvent.endTime"
                                           step="60" start-moment="calendarEvent.startMoment"
                                           end-moment="calendarEvent.endMoment" data-ng-change="rbsEmitter.updateRbsSniplet()" required/>
                                </div>
                                <!--event end hour-->
                                <div class="three cell" ng-if="!calendarEvent.allday">
                                    <label class="twelve cell form-label">
                                        <i18n>calendar.event.end.time</i18n>
                                    </label>
                                    <input format-input-time type="time" id="time-picker-end-moment"
                                           class="input-small cell"
                                           placeholder="HH:mm" ng-model="calendarEvent.endTime"
                                           start-time="calendarEvent.startTime" end-time="calendarEvent.endTime"
                                           step="60" start-moment="calendarEvent.startMoment"
                                           end-moment="calendarEvent.endMoment" data-ng-change="rbsEmitter.updateRbsSniplet()" required/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="six cell">
                                    <input type="checkbox" ng-model="calendarEvent.allday" ng-click="rbsEmitter.updateRbsSniplet()"/>
                                    <label>
                                        <i18n>calendar.event.allday</i18n>
                                    </label>
                                </div>
                            </div>

                            <div class="top-spacing-twice warning form-element" ng-if="!isTimeValid()">
                                <i18n>calendar.error.time</i18n>
                            </div>
                            <div class="top-spacing-twice warning form-element" ng-if="!isDateValid()">
                                <i18n>calendar.error.date</i18n>
                            </div>
                        </div>
                    </div>
                </article>

                <!-- Event Recurrence -->
                <article>
                    <h2 class="backgroundBlueTitle">
                        <i18n>calendar.event.header.recurrence</i18n>
                    </h2>
                    <div class="toggle">
                        <div class="content">
                            <div class="row">
                                <input type="checkbox" ng-if="!calendarEvent.parentId"
                                       ng-model="calendarEvent.isRecurrent"
                                       ng-change="toggleIsRecurrent(calendarEvent)"/>
                                <label>
                                    <i18n>calendar.event.recurrence</i18n>
                                </label>
                            </div>
                            <div class="content flex-row" ng-if="!calendarEvent.parentId && calendarEvent.isRecurrent">
                                <div class="row">
                                    <div class="row">
                                        <label>
                                            <i18n>calendar.reccurent</i18n>
                                        </label>
                                        <select ng-model="calendarEvent.recurrence.type"
                                                ng-change="changedRecurrenceType()">
                                            <!--events that last more than one day cannot have a daily recurrence-->
                                            <option value="every_day" ng-if="isOneDayEvent()">
                                                [[lang.translate("calendar.recurrence.every.day")]]
                                            </option>
                                            <option value="every_week">
                                                [[lang.translate("calendar.recurrence.every.week")]]
                                            </option>
                                        </select>
                                    </div>

                                    <div class="row" ng-if="calendarEvent.recurrence.type === 'every_day' && isOneDayEvent()">
                                        <i18n>calendar.recurrence.every</i18n>
                                        <select ng-model="calendarEvent.recurrence.every"
                                                ng-options="n for n in _.range(1, periods.every_day_max)"
                                                ng-init="calendarEvent.recurrence.every">
                                        </select>
                                        <i18n>calendar.recurrence.days</i18n>
                                    </div>

                                    <div ng-if="calendarEvent.recurrence.type === 'every_week'">
                                        <div class="row">
                                            <i18n>calendar.recurrence.every</i18n>
                                            <select ng-model="calendarEvent.recurrence.every"
                                                    ng-options="n for n in _.range(1, periods.every_week_max)"
                                                    ng-init="calendarEvent.recurrence.every"
                                            >
                                            </select>
                                            <i18n>calendar.recurrence.weeks</i18n>
                                        </div>
                                        <div class="row" ng-if="isOneDayEvent()">
                                            <i18n>calendar.recurrence.repeat.on</i18n>
                                        </div>
                                        <div class="row" ng-if="isOneDayEvent()">
                                            <label class="cell right-spacing"
                                                   ng-repeat="(key, value) in calendarEvent.recurrence.week_days">
                                                <input type="checkbox" value="[[key]]"
                                                       ng-model="calendarEvent.recurrence.week_days[key]"
                                                       ng-required="!someSelectedValue(calendarEvent.recurrence.week_days)"/>
                                                <span>[[ lang.translate(recurrence.dayMap[key]) ]]</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div ng-if="calendarEvent.recurrence.type === 'every_month'">
                                        <div class="row">
                                            <i18n>calendar.recurrence.every</i18n>
                                            <select>
                                                <option ng-repeat="n in _.range(1, periods.every_month_max)">[[n]]</option>
                                            </select>
                                            <i18n>calendar.recurrence.monthes</i18n>
                                        </div>
                                        <div class="row">
                                            <i18n>calendar.recurrence.repeat.each</i18n>
                                            <input type="radio"/>
                                            <i18n>calendar.recurrence.day.of.month</i18n>
                                            <input type="radio"/>
                                            <i18n>calendar.recurrence.day.of.week</i18n>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="calendarEvent.recurrence.type === 'every_year'">
                                        <i18n>calendar.recurrence.every</i18n>
                                        <select>
                                            <option ng-repeat="n in _.range(1, periods.every_year_max)">[[n]]</option>
                                        </select>l
                                        <i18n>calendar.recurrence.years</i18n>
                                    </div>
                                </div>
                                <div class="row  editEvent-itemColumn right-spacing top-spacing">
                                    <label>
                                        <i18n>calendar.recurrence.end</i18n>
                                    </label>
                                </div>

                                <div class="row top-spacing">
                                    <div class="row">
                                        <input type="radio" ng-model="calendarEvent.recurrence.end_type" value="on"
                                               name="calendarEvent.recurrence.end_type"
                                               ng-required="!calendarEvent.recurrence.end_type">
                                        <label>
                                            <i18n>calendar.recurrence.end.on</i18n>
                                        </label>
                                        <date-picker ng-required="calendarEvent.recurrence.end_type === 'on'"
                                                     ng-model="calendarEvent.recurrence.end_on">
                                        </date-picker>
                                    </div>
                                    <div class="row">
                                        <input type="radio" ng-model="calendarEvent.recurrence.end_type" value="after"
                                               name="calendarEvent.recurrence.end_type"
                                               ng-required="!calendarEvent.recurrence.end_type">
                                        <label>
                                            <i18n>calendar.recurrence.end.after</i18n>
                                        </label>
                                        <input type="number" min="1" max="365"
                                               ng-disabled="calendarEvent.recurrence.end_type !== 'after'"
                                               ng-required="calendarEvent.recurrence.end_type === 'after'"
                                               ng-model="calendarEvent.recurrence.end_after"/>
                                        <label>
                                            <i18n>calendar.recurrence.occurrences</i18n>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="content" ng-if="calendarEvent.parentId && calendarEvent.isRecurrent">
                                <div class="row">
                                    <label><i18n>calendar.event.edit.reccurrence.is</i18n>
                                        <i18n>calendar.recurrence.every</i18n>
                                        [[calendarEvent.recurrence.every]] </label>
                                    <label ng-if="calendarEvent.recurrence.type === 'every_day'">
                                        <i18n>calendar.recurrence.days</i18n>
                                        , </label>
                                    <label ng-if="calendarEvent.recurrence.type === 'every_week'">
                                        <i18n>calendar.recurrence.weeks</i18n>
                                        ,
                                        <i18n>calendar.recurrence.repeat.on</i18n>
                                    </label>

                                    <label ng-repeat="(key, value) in calendarEvent.recurrence.week_days">
                                        <span ng-if="value == true"> [[ lang.translate(recurrence.dayMap[key]) ]], </span>
                                    </label>

                                    <label>
                                        <i18n>calendar.recurrence.end</i18n>
                                    </label>
                                    <label ng-if="calendarEvent.recurrence.end_type === 'after'">
                                        <i18n>calendar.recurrence.end.after</i18n>
                                        [[calendarEvent.recurrence.end_after]]
                                        <i18n>calendar.recurrence.occurrences</i18n>
                                    </label>
                                    <label ng-if="calendarEvent.recurrence.end_type === 'on' && calendarEvent.recurrence.end_on">
                                        <i18n>calendar.recurrence.onlc</i18n>
                                        [[cropEventDate(calendarEvent.recurrence.end_on)]]</label>
                                </div>
                                <!--editAllRecurrence: undefined if selected event is not recurrent, true if all recurrence is edited-->
                                <!--false if only selected recurrent event is edited-->
                                <div class="row" ng-if="calendarEvent.editAllRecurrence === false">
                                    <input type="checkbox" ng-model="calendarEvent.noMoreRecurrent"
                                           ng-checked="calendarEvent.noMoreRecurrent"
                                           ng-click="unselectRecurrenceRemovalCheckbox(true)"/>
                                    <i18n>calendar.event.remove.from.recurrence</i18n>
                                </div>
                                <div class="row" ng-if="calendarEvent.noMoreRecurrent">
                                    <input type="checkbox" ng-model="calendarEvent.noMoreRecurrence"
                                           ng-checked="!calendarEvent.noMoreRecurrent"/>
                                    <i18n>calendar.event.remove.others.from.recurrence</i18n>
                                </div>
                            </div>
                            <div class="top-spacing-twice warning form-element" ng-if="!areRecurrenceAndEventLengthsCompatible()">
                                <i18n>calendar.event.length.error</i18n>
                            </div>
                        </div>
                    </div>
                </article>
                <!--RBS booking-->
                <div ng-if="ENABLE_RBS">
                    <sniplet
                            template="calendar-rbs-booking"
                            application="rbs"
                            class="row">
                    </sniplet>
                </div>
            </div>

            <button class="right-magnet" ng-click="saveCalendarEventEdit(calendarEvent)"
                    ng-disabled="!hasRightOnSharedEvent(calendarEvent, rights.resources.updateEvent.right)
                    || !isEventFormValid(calendarEvent, buttonAction.save)">
                <i18n>save</i18n>
            </button>
            <button class="right-magnet" ng-click="saveAndShareEvent(calendarEvent, $event)"
                    ng-disabled="!hasRightOnSharedEvent(calendarEvent, rights.resources.shareEvent.right)
                    || !isEventFormValid(calendarEvent, buttonAction.share)">
                [[nameOfShareButton(calendarEvent, "calendar")]]
            </button>
            <button ng-if="calendarEvent._id" class="right-magnet" ng-click="confirmRemoveCalendarEvent(calendarEvent, $event)"
                    ng-disabled="!hasRightOnSharedEvent(calendarEvent, rights.resources.updateEvent.right)
                    || !isEventFormValid(calendarEvent, buttonAction.delete)">
                <i18n>remove</i18n>
            </button>
        </form>
    </section>
</div>