<filters>
    <div class="dates" >
        <div class="cell">
            <date-picker-icon ng-model="calendarEvents.filters.startDate" ng-change="switchFilterListByDates(true)" class="cell"></date-picker-icon>
        </div>
            <div class="cell"><i18n>calendar.filters.date.from</i18n>&nbsp;[[calendarEvents.filters.startMoment.format('dddd DD MMM YYYY')]]</div>

        <div class="cell">
            <date-picker-icon ng-model="calendarEvents.filters.endDate" ng-change="switchFilterListByDates(true)" class="cell"></date-picker-icon>
        </div>
        <div class="cell"><i18n>calendar.filters.date.to</i18n>&nbsp;[[calendarEvents.filters.endMoment.format('dddd DD MMM YYYY')]]</div>
    </div>
</filters>

<table class="list-view colored">
    <thead>
        <tr>
            <th class="one" colspan="2"><input type="checkbox" ng-model="display.selectAllCalendarEvents" ng-change="switchSelectAllCalendarEvents()" /></th>
            <th><i18n>calendar.title</i18n></th>
            <th><i18n>calendar.event.title</i18n></th>
            <th><i18n>calendar.event.start.date</i18n></th>
            <th><i18n>calendar.event.end.date</i18n></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="calendarEvent in calendarEvents.filtered">
            <td class="one" colspan="2">
                <input ng-if="calendarEvent.myRights.manage" type="checkbox" ng-model="calendarEvent.selected"/>
            </td>
            <td>[[calendarEvent.calendar.title]]</td>
            <td>[[calendarEvent.title]]</td>
            <td>[[calendarEvent.startMoment.format('DD/MM/YYYY HH:mm')]]</td>
            <td>[[calendarEvent.endMoment.format('DD/MM/YYYY HH:mm')]]</td>
        </tr>
    </tbody>
</table>