<div>
    <side-bar list="display.list"
              calendars="calendars"
              calendar="calendar"
              show-buttons-calendar="showButtonsCalendar"
              on-show-calendar="showCalendar()"
              on-show-list="showList()"
              on-open-or-close-calendar="openOrCloseCalendar"
              class="cell three">
    </side-bar>
</div>

<section ng-if="isEmpty() && !calendarCreationScreen">
    <!-- Consultation -->
    <div class="emptyscreen" workflow-not="calendar.admin">
        <h2 class="emptyscreen-header">
            <i18n>empty.calendar.consultation.title</i18n>
        </h2>
        <img class="emptyscreen-image__mini" src="/calendar/public/img/empty-calendar.svg">
        <p class="emptyscreen-footer">
            <i18n>empty.calendar.consultation</i18n>
        </p>
    </div>
    <!-- Création -->
    <div class="emptyscreen" workflow="calendar.admin">
        <h2 class="emptyscreen-header">
            <i18n>empty.calendar.creation.title</i18n>
        </h2>
        <img class="emptyscreen-image__mini" src="/calendar/public/img/empty-calendar.svg">
        <p class="emptyscreen-footer">
            <i18n>empty.calendar.creation</i18n>
        </p>
        <button workflow="calendar.admin" ng-click="newCalendar()"><i18n>calendar.new</i18n></button>
    </div>
</section>

<section class="cell top-spacing-four nine">
    <container template="calendar"></container>
</section>

<!-- Action buttons for calendar -->
<section class="toggle-buttons" ng-class="{ hide: !display.showToggleButtons }">
    <div class="toggle">
        <div class="row">
            <behaviour name="manage" resource="showButtonsCalendar">
                    <a href="/calendar/[[showButtonsCalendar._id]]/ical"><button><i18n>calendar.export</i18n></button></a>
                    <button ng-click="displayImportIcsPanel()"><i18n>calendar.import</i18n></button>
                    <button ng-click="editCalendar(showButtonsCalendar, $event)"><i18n>edit</i18n></button>
                    <button ng-click="confirmRemoveCalendar(showButtonsCalendar, $event)" ng-if="!showButtonsCalendar.is_default"><i18n>remove</i18n></button>
                    <button ng-if="!showButtonsCalendar.is_default" ng-click="shareCalendar(showButtonsCalendar, $event)"><i18n>share</i18n></button>
            </behaviour>
        </div>
    </div>
</section>

<!-- Action buttons for calendar events -->
<section class="toggle-buttons" ng-class="{ hide: calendarEvents.selected.length === 0 || !display.list}">
    <div class="toggle">
        <div class="row">
            <behaviour name="manage" resource="calendarEvents.selected" class="cell">
                <button ng-if="calendarEvents.selected.length === 1" ng-click="viewCalendarEvent(calendarEvents.selected[0])"><i18n>edit</i18n></button>
                <button ng-click="confirmRemoveCalendarEvents($event)"><i18n>remove</i18n></button>
                <button ng-if="calendarEvents.selected.length === 1 && calendarEvents.selected[0].parentId &&
                calendarEvents.selected[0].isRecurrent" ng-click="deleteAllRecurrenceList(calendarEvents.selected[0])">
                    <i18n>calendar.remove.all.recurrent</i18n></button>
                <button ng-if="calendarEvents.selected.length === 1 && !calendarEvents.selected[0].parentId"
                        ng-click="shareEvent(calendarEvents.selected[0], $event)">
                    [[nameOfShareButton(calendarEvents.selected[0], "list")]]</button>
            </behaviour>
        </div>
    </div>
</section>

<!-- Lightbox : Share calendar -->
<div ng-if="display.showPanelCalendar">
    <lightbox show="display.showPanelCalendar" on-close="display.showPanelCalendar = false;">
        <share-panel app-prefix="'calendar'" resources="calendar" auto-close="true"></share-panel>
    </lightbox>
</div>

<!-- Lightbox : Share event -->
<div ng-if="display.showPanelEvent" class="absolute-magnet">
    <lightbox show="display.showPanelEvent" on-close="display.showPanelEvent = false;">
        <share-panel app-prefix="'calendar/calendarevent'" resources="calendarEvent" auto-close="true"></share-panel>
    </lightbox>
</div>

<!-- Lightbox : Import ICS -->
<div ng-if="display.showImportPanel">
    <lightbox show="display.showImportPanel" on-close="display.showImportPanel = false;">
        <form name="form">
			<div class="row fixed-block">
				<h2 class="subtitle"><i18n>calendar.ics.file.to.import</i18n></h2>
				<div class="eight cell select-file input-block">
					<div class="hidden-content">
						<input type="file" files-input-change="setFilename()" ng-model="newFile.files"/>
		            </div>
		            <button class="file-button"><i18n>import.browse</i18n></button>
		            <input type="text" ng-model="newFile.name" data-display-file class="nomargin" disabled/>
	            </div>
	            
	            <div class="twelve cell">
		            <button class="right-magnet" ng-disabled="display.importFileButtonDisabled" ng-click="importIcsFile(showButtonsCalendar, $event)"><i18n>calendar.import</i18n></button>
	            </div>
            </div>
        </form>
    </lightbox>
</div>

<!-- Lightbox : Import ICS Report -->
<div ng-if="display.showImportReport">
    <lightbox show="display.showImportReport" on-close="display.showImportReport = false;">
         <div class="row">
         	<h2 class="subtitle"><i18n>calendar.ics.file.import.report</i18n></h2>
        </div>
        <div class="row">
            <label>[[icsImport.createdEvents]] <i18n>calendar.events.properly.imported</i18n></label>
        </div>
        <div class="row" ng-if="icsImport.invalidEvents.length > 0">
            <label>[[icsImport.invalidEvents.length]] <i18n>calendar.events.not.imported</i18n></label>
        </div>

        <table class="list-view colored" ng-if="icsImport.invalidEvents.length > 0">
            <thead>
                <tr>
                    <th><i18n>calendar.event.title</i18n></th>
                    <th><i18n>calendar.event.start.date</i18n></th>
                    <th><i18n>calendar.event.end.date</i18n></th>
                    <th><i18n>calendar.event.error.cause</i18n></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="calendarEvent in icsImport.invalidEvents">
                    <td>[[calendarEvent.title]]</td>
                    <td>[[calendarEvent.startMoment.format('DD/MM/YYYY HH:mm')]]</td>
                    <td>[[calendarEvent.endMoment.format('DD/MM/YYYY HH:mm')]]</td>
                    <td>[[calendarEvent.errorCause]]</td>
                </tr>
            </tbody>
        </table>
    </lightbox>
</div>

<!-- Lightbox : Delete calendar -->
<div ng-if="display.confirmDeleteCalendar">
    <lightbox show="display.confirmDeleteCalendar" on-close="cancelRemoveCalendar()">
        <div class="row height-one">
        	<h2 class="subtitle"><i18n>calendar.confirm.delete.calendar</i18n></h2>
        </div>
        
        <div class="row">
            <button class="right-magnet" ng-click="removeCalendar()"><i18n>remove</i18n></button>
            <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveCalendar()" />
        </div>
    </lightbox>
</div>

<!-- Lightbox : Event creation / edition -->
<div ng-if="display.showEventPanel">
    <lightbox show="display.showEventPanel" on-close="closeCalendarEvent()" delegate-close="canICloseLightBox()">
        <container template="lightbox"></container>
    </lightbox>
</div>

<!--Lightbox : Edit all recurrence or only event-->
<div ng-if="display.showRecurrencePanel && calendarEvent.isRecurrent">
    <lightbox show="display.showRecurrencePanel" on-close="cancelRecurrentEventEdit()">
        <container template="recurrenceLightbox"></container>
    </lightbox>
</div>

<!-- Lightbox : Confirm remove calendar event -->
<div ng-if="display.confirmDeleteCalendarEvent">
    <lightbox class="remove-calendar-event" show="display.confirmDeleteCalendarEvent" on-close="cancelRemoveCalendarEvent()">
        <div class="row height-one">
            <i18n>calendar.confirm.delete.event</i18n>
        </div>

        <div class="cell twelve warning" ng-if="calendarEvent.deleteAllRecurrence">
            <i18n>calendar.confirm.delete.recurrent.event</i18n>
        </div>

        <div class="row scrollable-content" ng-if="calendarEvents.selected.length > 1">
            <table class="list-view colored">
                <thead>
                    <tr>
                        <th colspan="1"></th>
                        <th><i18n>calendar.title</i18n></th>
                        <th><i18n>calendar.event.title</i18n></th>
                        <th><i18n>calendar.event.start.date</i18n></th>
                        <th><i18n>calendar.event.end.date</i18n></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="calendarEvent in calendarEvents.selected">
                        <td class="icon" ng-class="calendarEvent.calendar.color"></td>
                        <td>[[calendarEvent.calendar.title]]</td>
                        <td>[[calendarEvent.title]]</td>
                        <td>[[calendarEvent.startMoment.format('DD/MM/YYYY HH:mm')]]</td>
                        <td>[[calendarEvent.endMoment.format('DD/MM/YYYY HH:mm')]]</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row"> 
            <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="cancelRemoveCalendarEvent()" />
            <button class="right-magnet" ng-click="removeCalendarEvents($event)"><i18n>remove</i18n></button>
        </div>
    </lightbox>
</div>