


<div class="row" ng-if="display.editEventRight && display.calendar">
	<calendar
		display-template="display-calendar-item"
		items="calendarEvents.filtered"
		add-filter="calendarEvents.filters.calendar"
		enable-display-modes="true"
		item-tooltip-template="tooltip-template"
		display-month-template="display-calendar-month-item"
		more-items-template="display-calendar-more-items"
		show-next-previous-button="true"
        display-options="true"
	>
	</calendar>
</div>

<div class="row" ng-if="!display.editEventRight && display.calendar">
    <calendar
        display-template="display-calendar-item" 
        items="calendarEvents.filtered"
		add-filter="calendarEvents.filters.calendar"
		enable-display-modes="true"
		item-tooltip-template="tooltip-template"
		display-month-template="display-calendar-month-item"
		more-items-template="display-calendar-more-items"
		show-next-previous-button="true"
        display-options="true"
	>
    </calendar>
</div>