<div class="row">
	<calendar ng-if="hasContribRight()"
		display-template="display-calendar-item" 
		create-template="edit-event"
		on-create-open="createCalendarEvent(newItem)"
		on-create-close="closeEvent()" 
		items="calendarEvents.all">
	</calendar>

    <calendar ng-if="!hasContribRight()"
        display-template="display-calendar-item" 
        items="calendarEvents.all">
    </calendar>
</div>

<!-- Lightbox : Thread share -->
<div ng-if="display.showEventPanel">
    <lightbox show="display.showEventPanel" on-close="closeCalendarEvent()">
        <container template="lightbox"></container>
    </lightbox>
</div>