
<filters>
  <li class="changeWeekButton">
     <button  class="changeWeekButtonBack" ng-click="previousWeekButton(); ">&#8592;</button>
     <button class="changeWeekButtonNext" ng-click="nextWeekButton(); ">&#8594;</button>
  </li>
</filters>

<div class="row" ng-if="display.editEventRight && display.calendar">
	<calendar
		display-template="display-calendar-item" 
		create-template="edit-event"
		on-create-open="createCalendarEvent(newItem)"
		on-create-close="closeCalendarEvent()" 
		items="calendarEvents.all">
	</calendar>

</div>

<div class="row" ng-if="!display.editEventRight && display.calendar">
    <calendar
        display-template="display-calendar-item" 
        items="calendarEvents.all">
    </calendar>
</div>