<article ng-if="calendarEvent" class="calendarTooltip">
    <!--event title-->
    <div class="calendarTooltip-title cell twelve ellipsis bottom-spacing-twice [[item.color]]">
        [[item.title]]
    </div>

    <!--event date + time-->
    <div class="bottom-spacing-twice calendarTooltip-blueText">
        <!--multi day event-->
        <div ng-if="item.isMultiDayPart">
            [[convertFormat(item, true)]] &#45 [[convertFormat(item, false)]]
        </div>
        <!-normal event-->
        <div ng-if="!item.isMultiDayPart">
            [[item.startMomentDate]] &#58 [[item.startMomentTime]] &#45 [[item.endMomentTime]]
        </div>
        <!--event location-->
        <div ng-if="item.location" class="calendarTooltip-blueText">
            <label>
                <i18n>calendar.event.location</i18n> &#58
            </label>
            <span> [[item.location]]</span>
        </div>
    </div>


    <!--recurrence information-->
    <div ng-if="item.isRecurrent" class="bottom-spacing-twice">
        <!--daily recurrence-->
        <div ng-if="item.recurrence.type == 'every_day'">
            <i18n>calendar.tooltip.recurrence.every.day</i18n>, <i18n>calendar.recurrence.until</i18n> [[getEndOfRecurrence(item)]]
        </div>
        <!--weekly recurrence-->
        <div ng-if="item.recurrence.type == 'every_week'">
            <!--multi day event-->
            <div ng-if="item.isMultiDayPart">
                <i18n>calendar.filters.date.from</i18n> [[getDayOfWeek(item, true, "start")]]
                <i18n>calendar.filters.date.to</i18n> [[getDayOfWeek(item, true, "end")]],
                <i18n>calendar.tooltip.recurrence.every.week</i18n>, <i18n>calendar.recurrence.until</i18n> [[getEndOfRecurrence(item)]]
            </div>
            <!--normal event-->
            <div ng-if="!item.isMultiDayPart">
                <i18n>calendar.recurrence.end.on</i18n> [[getRecurrenceDays(item)]]<i18n>calendar.recurrence.every.week</i18n>,
                <i18n>calendar.recurrence.until</i18n> [[getEndOfRecurrence(item)]]
            </div>

        </div>
    </div>

    <!--event owner-->
    <div class="calendarTooltip-blueText">
        <label>
            <i18n>calendar.event.owner</i18n>
        </label>
        <span> [[item.owner.displayName]]</span>
    </div>

</article>
