<div class="three cell">
  <h1>
    <i class="rbs"></i>
    <a ng-click="showCalendar(display.admin)">
      <i18n>calendar.title</i18n>
    </a>
  </h1>
</div>

<div class="nine cell" ng-if="!isEmpty()">
  <div class="row">
    <div class="right-magnet">
        <button workflow="calendar.admin" ng-click="newCalendar()"><i18n>calendar.new</i18n></button>
    </div>
    <div class="right-magnet">
        <button ng-if="hasContribRight()===true" ng-click="createCalendarEvent()"><i18n>calendar.new.event</i18n></button>
    </div>
  </div>

  <div class="row">
    <div class="right-magnet">
      <div class="choice-view">
        <i class="show-list" ng-class="{ selected: display.list === true }" ng-click="showList()"
        tooltip="calendar.icon.show.events.list"></i>
        <i class="show-calendar" ng-class="{ selected: display.list === false }" ng-click="showCalendar()"
        tooltip="calendar.icon.show.calendar"></i>
      </div>
    </div>
  </div>
</div>
