<div class="three cell">
  <h1>
    <i class="calendar"></i>
    <a ng-click="showCalendar(display.admin)">
      <i18n>calendar.title</i18n>
    </a>
  </h1>
</div>

<div class="nine cell" ng-if="!isEmpty()">
  <div class="row">
    <div class="right-magnet">
      <button ng-if="hasContribRight()" ng-click="createCalendarEvent()" ng-disabled="display.isCreatingEvent">
        <i class="loading" ng-if="display.isCreatingEvent"></i>
        <i18n>calendar.new.event</i18n>
      </button>
    </div>
    <div class="right-magnet">
      <button workflow="calendar.admin" ng-click="newCalendar()"><i18n>calendar.new</i18n></button>
    </div>
    <external-calendar-addition
            ng-if="checkExternalCalendarRight('calendar.sync')"
            display="display"
            on-update-calendars="updateCalendars"
            enable-zimbra="ENABLE_ZIMBRA">
    </external-calendar-addition>
  </div>
</div>
