<div class="row" id="editEventForm">
    <h2>
        <i18n>calendar.view.event</i18n>
    </h2>

    <h3 class="backgroundBlueTitle">
        <i18n>calendar.event.header.details</i18n>
    </h3>

    <div class="toggle">
        <div class="content">
            <div>[[vm.calendarEvent.toString()]]</div>

            <!--Calendars-->
            <div class="row">
                <label><i18n>calendar.event.calendar</i18n> :</label>
                <span ng-repeat="calendar in calendarEvent.calendar"> [[calendar.title]][[$last ? '' : ', ']]</span>
            </div>

            <!--Event owner-->
            <div class="row" ng-if="calendarEvent._id">
                <div class="twelve cell form-element">
                    <label><i18n>calendar.event.owner</i18n></label><span> [[calendarEvent.owner.displayName]]</span>
                </div>
            </div>
            <!--Event title-->
            <div class="row">
                <label><i18n>calendar.event.title</i18n> :</label>
                <span> [[calendarEvent.title]]</span>
            </div>

            <!--Description-->
            <label class="twelve cell"><i18n>calendar.event.description</i18n> :</label>
            <span class="twelve cell editorFormattedContent" data-ng-bind-html="getDescriptionHTML(calendarEvent.description)"></span>

            <!--List of attachment files-->
            <label class="twelve cell"><i18n>calendar.event.attachments</i18n></label>
            <div class="twelve cell editEvent-attachments content-line">
                <div class="editEvent-attachments-fileSection row">
                    <div ng-repeat="attachment in calendarEvent.attachments"
                         class="right-spacing three cell bottom-spacing editEvent-attachments-fileSection-list">
                        <div class="editEvent-attachments-fileSection-list-item ">
                            <i class="attachment"></i>
                            <div ng-click="downloadAttachment(calendarEvent, attachment)"
                                 class="editEvent-attachments-fileSection-list-item-title">
                                [[attachment.metadata.filename]]
                            </div>
                            <span class="tooltip-title left-spacing-small">[[attachment.metadata.filename]]</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <label><i18n>calendar.event.location</i18n> :</label>
                <span> [[calendarEvent.location]]</span>
            </div>

        </div>
        <div class="row">
        </div>

        <div class="content dates">

            <div class="row">
                <div class="six cell">
                    <label class="twelve cell form-label"><i18n>calendar.event.start.date</i18n></label>
                    <label>[[calendarEvent.startMomentDate]]</label>

                    <!-- <input type="text" ng-model="calendarEvent.startMoment" data-date-format="dd/MM/yyyy" data-autoclose="1" bs-datepicker> -->
                </div>
                <div class="six cell" ng-if="!calendarEvent.allday">
                    <label class="twelve cell form-label"><i18n>calendar.event.start.time</i18n></label>
                    <label>[[calendarEvent.startMomentTime]]</label>
                </div>
            </div>

            <div class="row">
                <div class="six cell">
                    <label class="twelve cell form-label"><i18n>calendar.event.end.date</i18n></label>
                    <label>[[calendarEvent.endMomentDate]]</label>
                </div>
                <div class="six cell" ng-if="!calendarEvent.allday">
                    <label class="twelve cell form-label"><i18n>calendar.event.end.time</i18n></label>
                    <label>[[calendarEvent.endMomentTime]]</label>
                </div>
            </div>
        </div>

        <!--RBS booking-->
        <div ng-if="ENABLE_RBS">
            <sniplet
                    template="calendar-rbs-booking"
                    application="rbs"
                    source="'viewEvent'"
                    class="row">
            </sniplet>
        </div>

        <div class="warningEventView">
            <label class="warning" ng-if="hasACalendarWithRightsOfModifyEvent(calendarEvent) && !calendarEvent.isExternal">
                <i18n>calendar.event.not.all.calendar.rights</i18n></label>
        </div>

        <!--Reminder form-->
        <div ng-if="ENABLE_REMINDER">
            <calendarevent-reminder-form
                    calendarEvent="calendarEvent"
            >
            </calendarevent-reminder-form>
        </div>

        <button class="right-magnet" ng-click="saveCalendarEventReminder(calendarEvent)"
                ng-disabled="!isEventReminderFormValid(calendarEvent)">
            <i18n>calendar.event.reminder.save</i18n>
        </button>
    </div>
</div>
