{
    "name": "{{ calendarVersion }}",
    "config": {
        "main": "net.atos.entng.calendar.Calendar",
        "port": 8098,
        {% if csrfToken %}"csrf-token": true,{% endif %}
        "app-name": "Calendar",
        "app-address": "/calendar",
        "app-icon": "calendar-large",
        "app-type" : "END_USER",
        "host": "https://{{ host }}",
        "ssl": true,
        "userbook-host": "https://{{ host }}",
        "integration-mode": "HTTP",
        "app-registry.port": 8012,
        "mode": "prod",
        "entcore.port": 8009,
		"enable-rbs": {{ calendarEnableRbs | default('false') }},
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 7
                },
                "LIBELLE_SERVICE": {
                    "default": "GESTION_TEMPS"
                }
            }
        }
    }
}