<div id="booking-deletion-message" ng-if="vm.hasBookingsToDeleteListView() || vm.hasBookingsToDeleteCalendarView()">
    <div ng-if="vm.display.list && !vm.hasOneListViewSelectedCalendarEventsWithBooking()">
        <i18n>calendar.rbs.sniplet.booking.owner.is</i18n> [[vm.calendarEvent.owner.displayName]]
        <i18n>calendar.rbs.sniplet.for.this.these.events</i18n>:
        <div class="bottom-spacing-three">
            <div ng-repeat="event in vm.listViewSelectedCalendarEventsWithBooking()" >[[event.title]]</div>
        </div>
        <i18n>calendar.rbs.sniplet.booking.deletion.advice.no.access</i18n>
    </div>
    <!-- Calendar View -->
    <div ng-if="vm.display.calendar || vm.display.list && vm.hasOneListViewSelectedCalendarEventsWithBooking()">
        <div ng-if="vm.rbsEmitter.hasAccessToSavedBookings()" class="row">
            <i18n>calendar.rbs.sniplet.booking.warning</i18n>
            <div class="bottom-spacing-three">
                <div ng-repeat="bookingDates in vm.rbsEmitter.calendarEventBookingsSlots()">[[bookingDates]]</div>
            </div>
            <!--        <i18n>calendar.rbs.sniplet.booking.deletion.advice</i18n>-->
            <i18n class="row">calendar.rbs.sniplet.deletion.wish</i18n>
            <div class="row">
                <input type="radio" ng-model="vm.calendarEvent.deleteAllBookings" value="false"/>
                <label>
                    <i18n>calendar.rbs.sniplet.event.only</i18n>
                </label>
            </div>
            <div class="row">
                <input type="radio" ng-model="vm.calendarEvent.deleteAllBookings" value="true"/>
                <label>
                    <i18n>calendar.rbs.sniplet.event.and.booking</i18n>
                </label>
            </div>
        </div>
        <div ng-if="!vm.rbsEmitter.hasAccessToSavedBookings()">
            <i18n>calendar.rbs.sniplet.booking.owner.is</i18n> [[vm.calendarEvent.owner.displayName]]
            <i18n>calendar.rbs.sniplet.for.this.event</i18n>
            <i18n>calendar.rbs.sniplet.booking.deletion.advice.no.access</i18n>
        </div>
    </div>

</div>